html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.title-block img {
	max-width: none;
	min-width: auto;
	min-height: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

ul,
nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: auto;
	flex: 1;
}

li {
	list-style-type: none;
	margin-right: 5%;
}

a {
	font-family: Arial;
	font-size: 15px;
	line-height: 29px;
	font-weight: 400;
	color: #cdcdcd;
}

.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.title-block {
	width: 100%;
	height: 100%;
}

.name {
	font-family: Georgia;
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #f1cdb3;
}

.name:nth-child(2) {
	font-family: Arial;
	font-size: 13px;
	line-height: 200%;
	letter-spacing: 0.1em;
	color: #ffffff;
}

.title-name {
	display: flex;
	flex-direction: column;
	margin: 1% 0 0 10%;
}

.title-block .content-block .title-text {
	display: block;
	font-family: Georgia;
	font-size: 44px;
	line-height: 57px;
	font-weight: 400;
	letter-spacing: 0.06em;
	width: 30%;
	color: #ffffff;
}

.title-block .content-block .title-text:nth-child(2) {
	font-family: Arial;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	width: 40%;
	color: #cdcdcd;
}

.title-text {
	font-family: Georgia;
	font-size: 35px;
	line-height: 45px;
	font-weight: 400;
	letter-spacing: 0.06em;
	width: 60%;
	color: #545454;
}

.about-block .title-text:nth-child(2) {
	font-family: Arial;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #4c4c4c;
}

.content-block {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 10% 0 0 10%;
	justify-content: space-between;
}

.about-block .content-block {
	margin: 0;
	width: 30%;
}

.make-friend-button {
	width: 205px;
	height: 52px;
	background-color: #f1cdb3;
	border-radius: 26px;
}

.make-friend-button-text {
	font-family: Georgia;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #292929;
}

.about-block .content-block {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.about-block {
	display: flex;
	align-items: stretch;
	align-content: space-between;
	justify-content: space-evenly;
	margin-top: 20%;
	padding: 15% 10%;
	flex: 1;
}

.gallery-block {
	display: flex;
	flex-direction: column;
}

.gallery-block .title-text {
	padding: 0 0 5% 40%;
	font-size: 65px;
}

.our-gallery-block {
	width: 80%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: (3 auto);
	margin: auto;
	grid-gap: 3vh;
	grid-auto-flow: dense;
}
.our-gallery-block img {
	width: 400px;
	grid-row-start: span 1;
	object-fit: cover;
	filter: grayscale(1) brightness(0.3);
	transition: 1s ease;
	border-radius: 10px;
}
.our-gallery-block img {
	position: relative;
	width: 100%;
	height: 100%;
}

.our-gallery-block img:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}

.our-friends-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20%;
}

.friends-block {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 950px;
	overflow-x: scroll;
}

.friends-block div {
	border: 1px solid #f1cdb3;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
	width: 200px;
	margin: 2%;
}

.friends-block div img {
	height: 200px;
	padding: 1%;
}

.friends-block div span {
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 16px;
}

.friends-block div a {
	width: 100%;
	text-decoration: none;
	color: rgb(53, 53, 53);
	margin: 0;
	border: 1px solid #f1cdb3;
	border-radius: 20px;
	padding: 10px 30px;
	font-size: 12px;
}

.friends-block div a:hover {
	background-color: #f1cdb3;
	color: rgb(245, 233, 233);
}

::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f1cdb3;
	border-radius: 10px;
}

.title-block button:hover {
	background-color: #b29c8c;
	color: rgb(245, 233, 233);
}

button:hover {
	background-color: #f1cdb3;
	color: rgb(245, 233, 233);
}

.get-know-button {
	margin-top: 3%;
	width: 267px;
	height: 52px;
	border: 2px solid #f1cdb3;
	border-radius: 26px;
}

.help-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.help-block .title-text {
	font-family: Georgia;
	font-size: 35px;
	line-height: 45px;
	font-weight: 400;
	width: 20%;
	letter-spacing: 0.06em;
	color: #545454;
}

.help-block .info-block {
	display: flex;
	flex-direction: column;
}

.help-block .line {
	padding: 3% 0;
	display: flex;
	width: 90%;
	flex-direction: row;
	justify-content: space-evenly;
}

.help-block .line:nth-child(2) {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}

.help-block img {
	margin: auto;
	width: 64px;
	height: 64px;
}

.help-block span {
	text-align: center;
}

.help-block .description {
	font-family: Georgia;
	font-size: 20px;
	line-height: 45px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #545454;
}

.donate-block {
	margin-top: 20%;
	display: flex;
	justify-content: space-evenly;
}

.donate-block .description:nth-child(1) {
	font-family: Georgia;
	font-size: 35px;
	line-height: 45px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #545454;
}

.donate-block .description:nth-child(2) {
	font-family: Georgia;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #545454;
}

.donate-block .description:nth-child(4) {
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	font-style: italic;
	color: #b2b2b2;
}

.donate-block button {
	width: 319px;
	height: 47px;
	background-color: #f1cdb3;
	border-radius: 9px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.donate-block button:hover {
	background-color: #b29c8c;
	color: rgb(245, 233, 233);
}

.donate-block .content-block {
	margin: 0;
	width: 30%;
	display: flex;
}

footer {
	position: absolute;
	top: 640%;
}

footer .bg {
	height: 30%;
	width: 100%;
}

footer .content {
	position: absolute;
	top: 0%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

footer .title {
	width: 20%;
	margin-left: 15%;
	font-family: Georgia;
	font-size: 35px;
	line-height: 45px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #ffffff;
}

footer .description {
	font-family: "Times New Roman";
	font-size: 20px;
	line-height: 45px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #f1cdb3;
}

footer .info-block {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
}

footer img {
	width: 32px;
	height: 32px;
}
